.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Image {
    width: 50%;
    height: 100vh;
    overflow: hidden;
    background-image: url("../../../../assets/gradient.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.Intro {
    width: 50%;
    text-align: left;
    padding: 0 3rem;

}

.Intro p{
    margin-bottom: 2rem;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 3rem;
        min-height: 90vh;
    }

    .Image {
        display: none !important;
    }

    .Intro {
        width: 100%;
    }   
}