<div class="LoginPage">
    <app-intro></app-intro>

    <div class="LoginForm">
        <section class="Login">
            <h1>Login</h1>

            <section class="form">
                <form id="login_form">
                    <mat-form-field>
                        <mat-label>Enter your email</mat-label>
                        <input
                          matInput
                          placeholder="exemple@email.com"
                          [formControl]="email"
                          (blur)="updateErrorMessage()"
                          required
                        />
                        @if (email.invalid) {
                          <mat-error>{{errorMessage()}}</mat-error>
                        }
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide() ? 'password' : 'text'" />
                        <button
                          mat-icon-button
                          matSuffix
                          (click)="clickEvent($event)"
                          [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide()"
                        >
                          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>

                    <button mat-fab extended class="login_btn">
                        LogIn
                    </button>
                </form>

                <section class="signup">
                    <p>
                        Don't have an account yet? <a routerLink="/home">Sign up</a>
                    </p>
                </section>

            </section>
        </section>
    </div>
</div>
